// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #root {
//   display: flex;
//   justify-content: center;
// }

body {
  background-color: rgb(42, 42, 42);
  min-height: 900px;
  display: flex;
  justify-content: center;
}

.splash {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1100px;
}

.splash header {
  width: 100%;
  padding: 72px 65px 0px 72px;
  position: relative;
  // bottom: 330px;
  height: 70px;
}

.splash header h3 {
  color: white;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.splash header p {
  color: rgb(209, 205, 205);
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 13px;
  text-align: center;
  margin: 12px 70px 13px 70px;
  height: 30px;
}

.splash div {
  width: 100%;
  min-height: 30px;
}

.signup-login {
  display: flex;
  justify-content: center;
}

.signup-login-box {
  position: relative;
  bottom: 410px;
  height: 0px;
}

.signup-button {
  margin-right: 40px;
  color: black;
  background-color: rgba(255, 255, 255, 0.945);
  font-size: 13px;
  padding: 0px 60px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  // border: 1px solid grey;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.login-button {
  color: black;
  background-color: #7289DA;
  font-size: 13px;
  padding: 0px 60px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  // border: 1px solid grey;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}
