.header {
  height: 30px;
}

.header-box {
  display: flex;
  justify-content: space-around;
}

.login-box-side {
  width: 30px;
  display: flex;
  justify-content: flex-end;
  padding-right: 90px;
  padding-top: 20px;
}

.logo-white {
  width: 170px;
  height: auto;
}

.header-logo-side {
  width: 30px;
  display: flex;
  justify-content: flex-start;
  padding-left: 90px;
  padding-top: 20px;
}

.header-login-button {
  background: #2A2A2A;
  font-size: 13px;
  padding: 7px 17px 7px;
  margin: 2px 0px 6px;
  border-radius: 20px;
  text-align: center;
  border: 1px solid rgba(189, 186, 186, 0.8);
  color: hsla(0,0%,100%,.8);
  text-decoration: none;
  -webkit-transition: border .5s;
}

.header-login-button:hover {
  animation-duration: 1s;
  border: 1px solid hsla(0,0%,100%,.8);
}

.github-icon {
  padding: 5px 10px 0px 0px;
  opacity: .3;
}

.github-icon:hover {
  opacity: 1;
  -webkit-transition: opacity .5s;
}

.linkedin-icon {
  padding: 5px 10px 0px 0px;
  opacity: .3;
  -webkit-transition: opacity .5s;
}

.linkedin-icon:hover {
  opacity: 1;
}
