
#server-display-box {
  height: 890px;
  width: 240px;
  color: white;
  border-right: 1px solid black;
}

#server-display-name {
  height: 48px;
  border-bottom: 1px solid black;
}

.server-link {
  text-decoration: none;
}
