#session {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 680px;
  height: 380px;
  background-color: #36393F;
  border-radius: 5px;
  padding: 30px 30px 12px 30px;
  box-shadow: -5px 5px 10px black;
}

#form-box {
  width: 60%;
}

#errors-box {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  padding-left: 20px;
}

.form-type {
  text-align: center;
  width: 100%;
  color: white;
  margin-bottom: 20px;
  font-size: 30px;
}

.login-signup-form {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.login-signup-form label {
  color: white;
  display: flex;
  flex-wrap: wrap;
  color: #8E9297;
  font-size: 13px;
}

.other-form {
  text-align: left;
  width: 73%;
  color: #7289DA;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 12px;
  margin: 10px 0px 18px 0px;
  text-decoration: none;
}

.username {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  width: 100%;
}

.password {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  width: 100%;
}

.login-signup-form label p {
  width: 100%;
  font-size: 12px;
  margin: 5px 0px 10px 0px;
}

#email {
  width: 100%;
  font-size: 12px;
  margin: 5px 0px 10px 0px;
}

.login-signup-form label input {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0,0,0,0.3);
  color: rgb(220, 221, 222);
  font-size: 15px;
  padding: 8px;
  padding-left: 10px;
  border-radius: 3px;
  width: 100%;
  outline: none;
  transition: border-color .2s;
}

.login-signup-form label input:focus {
  border-color: #7289da;
}

.email-box {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0,0,0,0.3);
  color: rgb(220, 221, 222);
  font-size: 15px;
  padding: 8px;
  padding-left: 10px;
  border-radius: 3px;
  margin-bottom: 5px;
  width: 100%;
  outline: none;
  transition: border-color .2s;
}

.email-box:focus {
  border-color: #7289da;
}

.session-submit-button {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border-radius: 3px;
  border-color: #7289DA;
  font-size: 15px;
  font-weight: 500;
  background-color: #7289DA;
}

.logout-button {
  color: white;
  width: 80px;
  padding: 4px;
  margin: 16px 20px 11px 5px;
  border-radius: 3px;
  border-color: rgb(236, 234, 234);
  opacity: .8;
  font-size: 12px;
  background-color: #292b2f;
  transition: border-color .5s;
}

.logout-button:hover {
  border-color: rgb(238, 35, 35);
  // opacity: 1;
}

.greeting-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.greeting-container p {
  width: 100%;
  padding: 3px;
  text-align: center;
  padding-top: 5px;
  margin: 5px 135px;
  border-radius: 3px;
  border-color: #7289DA;
  font-size: 15px;
  font-weight: 500;
  background-color: #7289DA;
}

.errors {
  color: red;
  text-align: center;
  padding-bottom: 10px;
}

.login-signup-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  z-index: 10;
}

.login-signup-bg-img {
  width: 110%;
  height: 100%;
}

.login-signup-bg-logo {
  position: absolute;
  left: 85px;
  top: 35px;
  transform: translate(-50%, -50%);
  z-index: 11;
  width: 130px;
  height: auto;
}

.login-signup-go-back {
  color: #7289DA;
  width: 100%;
  height: 0px;
  text-align: right;
  text-decoration: none;
  padding-right: 18px;
  font-weight: 800;
  font-family: sans-serif;
}

.demo-login {
  width: 100%;
  padding: 8px;
  margin-top: 14px;
  border-radius: 3px;
  border-color: #7289DA;
  font-size: 15px;
  font-weight: 500;
  background-color: #7289DA;
}

.demo-login-box {
  display: flex;
  justify-content: center;
}

.demo-login-splash {
  width: 160px;
  padding: 8px;
  margin: 30px 5px 5px 5px;
  border-radius: 3px;
  border: 1px dotted #7289DA;
  color: #7289DA;
  font-size: 16px;
  font-weight: 500;
  background-color: #2A2A2A;
  transition: border .5s;
}

.demo-login-splash:hover {
  animation-duration: 1s;
    border: 1px solid rgb(233, 236, 245);
}

#other-form-text {
  padding: 9px 3px 0px 0px;
  opacity: 0.7;
}
