.session {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 300px;
  background-color: #36393F;
  border-radius: 5px;
  padding: 30px 30px 12px 30px;
}

.form-type {
  text-align: center;
  width: 100%;
  color: white;
  margin-bottom: 20px;
  font-size: 20px;
}

.login-signup-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.login-signup-form label {
  color: white;
  display: flex;
  flex-wrap: wrap;
  color: #8E9297;
  font-size: 12px;
}

.other-form {
  text-align: center;
  width: 100%;
  color: #7289DA;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 12px;
  margin-top: 20px;
}

.username {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  width: 100%;
}

.password {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  width: 100%;
}

.login-signup-form label p {
  width: 100%;
  padding-left: 50px;
  font-size: 12px;
  margin-bottom: 5px;
}

.email {
  width: 100%;
  padding-left: 50px;
  margin-bottom: 5px;
}

.login-signup-form label input {
  padding: 4px;
  padding-left: 6px;
  border-radius: 3px;
  width: 200px;
  border: none;
  outline: none;
}

.email-box {
  padding: 4px;
  padding-left: 6px;
  border-radius: 3px;
  font-size: 12px;
  margin-bottom: 5px;
  border: none;
  outline: none;
  width: 200px;
}

.session-submit-button {
  width: 210px;
  padding: 3px;
  margin-top: 5px;
  border-radius: 3px;
  border-color: #7289DA;
  font-size: 15px;
  font-weight: 500;
  background-color: #7289DA;
}

.logout-button {
  width: 80px;
  padding: 3px;
  margin-top: 5px;
  border-radius: 3px;
  border-color: #7289DA;
  font-size: 12px;
  font-weight: 700;
  background-color: #7289DA;
}

.greeting-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.greeting-container p {
  width: 100%;
  padding: 3px;
  text-align: center;
  padding-top: 5px;
  margin: 5px 135px;
  border-radius: 3px;
  border-color: #7289DA;
  font-size: 15px;
  font-weight: 500;
  background-color: #7289DA;
}